$header-color: rgb(65, 65, 65);
$interface1-title-color: rgb(122, 186, 144);
$interface1-text-color: rgb(106, 106, 106);
$interface1-font: 'IBM Plex Mono', monospace;
$interface2-bg-color: rgb(75, 146, 238);
$interface2-color: rgb(201, 216, 238);
$interface2-font: 'Roboto', sans-serif;

body {
    box-sizing: border-box;
    font-size: 14px!important;
    line-height: 1.75!important;
    padding: 50px;

    .headers {
        color: $header-color;
        max-width: 1112px;
        margin: auto;
    }
    
    #interface1-container {
        
        @extend .headers;
        font-family: $interface1-font!important;

        #main-row {
            padding: 40px;

            img {
                max-width: 100%;
                height: auto;
                margin: auto;
            }

            h1 {
                color: $interface1-title-color;
                font-size: 160%;
                font-weight: 400;
                margin-bottom: 10px;
                margin-top: 25px;
            }

            p {
                color: $interface1-text-color;
                font-size: 90%;

                span {
                    font-size: 110%;
                    font-weight: bold;
                }
            }

        }
    }

    #interface2-container {
        background-color: #f1f1f1;
        margin: 30px;      
        max-width: 330px;
        padding: 5px;

        #interface2 {
            background-color: $interface2-bg-color;
            color: $interface2-color;
            font-family: $interface2-font;
            padding: 20px;

            h5{font-size:110%}
            
            #ninety {
                font-size: 370%;
                font-weight: 200;
                margin-top: -15px;
            }

            h6 {font-size: 85%}

            #graph {
                display:flex;
                align-items: flex-end;
                width: 280px;
                justify-content: center;
                margin-bottom: 30px;
        
                .bar{
                    width: 10px;
                    background-color: $interface2-color;
                    border: 1px solid $interface2-bg-color;
                    
                }
        
                .p20{height:20px;}
        
                .p30{height: 30px;}
        
                .p40{height: 40px;}
        
                .p5O{height: 50px;}
        
                .p60{
                    height: 60px;
                }
        
                .p65{
                    height: 65px;
                }
                .p70{
                    height: 70px;
                }
        
                .p80{
                    height: 80px;
                }
        
                .p85{
                    height: 85px;
                }
        
                .p90{
                    height: 90px;
                }
        
                .p100{
                    height: 100px;
                }
        
        
            }

            table {
                width:100%;

                tr {
                    border-bottom: 1px solid $interface2-color;
                    #col-tap {width: 80%}
                    #col-users {width: 20%}
                    :nth-child(2) {text-align: right;}
                }
            }

            

           
            



            
























        }
    }

    #interface3-container {
        @extend .headers;

        #card {
            #col-image {padding: 0}
            margin-left: 30px;
            margin-top: 30px;
            max-width: 490px;
            max-height: 260px;

            #content {

                padding: 20px;
                h6 {font-size:121%}
                #profile {
                    margin-top: 65px;
                    #profile-pic {
                        border-radius: 50%;
                        margin-right: -20px;
                    }
                    #profile-name{font-size: 85%;}
                    #profile-info{
                        font-size: 75%;
                        margin-top: -20px;
                    }
                    #bookmark{font-size:140%}
                }
                

            }
        }
    }


}