$header-color: rgb(65, 65, 65);
$title-color: rgb(122, 186, 144);
$text-color: rgb(97, 97, 97);
$the-font: 'IBM Plex Mono', monospace;

body {
    box-sizing: border-box;
    font-size: 14px!important;
    line-height: 1.75!important;
    padding: 50px;

    .headers {
        color: $header-color;
        max-width: 1112px;
        margin: auto;
    }
    
    #interface1-container {
        
        @extend .headers;
        font-family: $the-font!important;

        #main-row {
            padding: 40px;

            img {
                max-width: 100%;
                height: auto;
                margin: auto;
            }

            h1 {
                color: $title-color;
                font-size: 160%;
                font-weight: 400;
                margin-bottom: 10px;
                margin-top: 25px;
            }

            p {
                color: $text-color;
                font-size: 90%;

                span {
                    font-size: 110%;
                    font-weight: bold;
                }
            }

        }
    }

    #interface3-container {
        @extend .headers;

        #card {
            #col-image {padding: 0}
            margin-left: 30px;
            margin-top: 30px;
            max-width: 490px;
            max-height: 260px;

            #content {

                padding: 20px;
                h6 {font-size:121%}
                #profile {
                    margin-top: 65px;
                    #profile-pic {
                        border-radius: 50%;
                        margin-right: -20px;
                    }
                    #profile-name{font-size: 85%;}
                    #profile-info{
                        font-size: 75%;
                        margin-top: -20px;
                    }
                    #bookmark{font-size:140%}
                }
                

            }
        }
    }


}